<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRO</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
 
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">REGISTRO DE AREAS DE TRABAJO</a>
    </nav>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="post">
                            <div class="form-group">
                                <input type="text" name="idarea" placeholder="Código" class="form-control">          
                    
                            </div> 

                            <div class="form-group">
                                <input type="text" name="idempresa" placeholder="Empresa" class="form-control">          
                    
                            </div> 

                            <div class="form-group">
                                <input type="text" name="idsuc" placeholder="Sucursal" class="form-control">          
                    
                            </div> 

                            <div class="form-group">
                                <input type="text" name="area" placeholder="Area" class="form-control">          
                    
                            </div> 

                            <div class="form-group">
                                <input type="text" name="fecha_creacion" placeholder="Fecha de Creación" class="form-control">          
                    
                            </div> 
                            
                            <div class="form-group">
                                <input type="text" name="estado" placeholder="Estado" class="form-control">          

                            </div>  
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Agregar
                            </button>
                        </form>
                    </div>


                </div>
            </div>

        </div>

    </div>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-7">
                <table class="table table-borbered table-hover">
                    <thead>
                        <tr>
                            <th>IDAREA</th>
                            <th>EMPRESA</th>
                            <th>SUCURSAL</th>
                            <th>AREA DE TRABAJO</th>
                            <th>FECHA DE CREACION</th>
                            <th>ESTADO</th>
                            
                        </tr>

                    </thead>
                 </table>

            </div>
            
        </div>
    </div>
    
   
</body>
</html>