<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRO</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
 
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">REGISTRO DE PRODUCTOS</a>
    </nav>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="post">
                            <div class="form-group">
                                <input type="text" name="num_prod" placeholder="C贸digo de Producto" class="form-control">          
                    
                            </div> 

                            <div class="form-group">
                                <input type="text" name="idempresa" placeholder="Empresa" class="form-control">          
                    
                            </div> 

                            <div class="form-group">
                                <input type="text" name="idsuc" placeholder="Sucursal" class="form-control">          
                    
                            </div>
                            
                            <div class="form-group">
                                <input type="text" name="idtpprod" placeholder="Tipo de Producto" class="form-control">          
                    
                            </div>

                            <div class="form-group">
                                <input type="text" name="descripcion" placeholder="Descripci贸n" class="form-control">          
                    
                            </div>

                            <div class="form-group">
                                <input type="text" name="presentacion" placeholder="Presentaci贸n" class="form-control">          
                    
                            </div>

                            <div class="form-group">
                                <input type="text" name="marca" placeholder="Marca" class="form-control">          
                    
                            </div>

                            <div class="form-group">
                                <input type="text" name="valor" placeholder="Valor" class="form-control">          
                    
                            </div>

                            <div class="form-group">
                                <input type="text" name="precioventa" placeholder="Precio de Venta" class="form-control">          
                    
                            </div>

                            <div class="form-group">
                                <input type="text" name="existencia" placeholder="Existencia" class="form-control">          
                    
                            </div>

                            <div class="form-group">
                                <input type="text" name="fecha_ingreso" placeholder="Fecha de Ingreso" class="form-control">          
                    
                            </div>

                            <div class="form-group">
                                <input type="text" name="fecha_actualiza" placeholder="Fecha de Actualizaci贸n" class="form-control">          
                    
                            </div>
                            
                            <div class="form-group">
                                <input type="text" name="estado" placeholder="Estado" class="form-control">          

                            </div>  
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Agregar
                            </button>
                        </form>
                    </div>


                </div>
            </div>

        </div>

    </div>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-7">
                <table class="table table-borbered table-hover">
                    <thead>
                        <tr>
                            <th>IDPRODUCTO</th>
                            <th>EMPRESA</th>
                            <th>SUCURSAL</th>
                            <th>TIPO DE PRODUCTO</th>
                            <th>DESCRIPCION</th>
                            <th>PRESENTACION</th>
                            <th>MARCA</th>
                            <th>VALOR</th>
                            <th>PRECIO DE VENTA</th>
                            <th>EXISTENCIA</th>
                            <th>FECHA DE INGRESO</th>
                            <th>FECHA DE ACTUALIZACION</th>
                            <th>ESTADO</th>
                            
                        </tr>

                    </thead>
                 </table>

            </div>
            
        </div>
    </div>
    
   
</body>
</html>